header h1{
    color: blue;
    font-size: 36px;
    text-align: center;

}
code{color: red;font-weight: bold; font-size: 15px;}
pre{border: 1px solid black; background-color: #f4f4f4; padding: 10px;}
.selectorCode{padding: 0px; }

